$black: #000;
$white: #FFF;
$off-white: #e1e1e1;
$very-light-grey: #ececec;
$light-grey: #cdd4da;
$light-grey2: #f7f7f7;
$light-grey2-hover: #e0e0e0;
$grey: #444;
$grey2: #666;
$light-beige: #FFEFBD;
$light-pink: #FFB7C3;
$light-blue: #51E5FF;
$blue: #3f51b5;
$yellow: #FFD447;
$purple: #694F5D;
$green: #00A676;
$orange: #FA9F42;
