$black: #000;
$white: #FFF;
$very-light-grey: #ececec;
$light-grey: #cdd4da;
$grey: #444;
$light-pink: #FFB7C3;
$light-blue: #51E5FF;
$yellow: #FFD447;
$purple: #694F5D;
$green: #00A676;
$orange: #FA9F42;
