@import "src/app/styles/colors.scss"; //general

$h1-font-size: 2.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 0.85rem;
$h5-font-size: 0.9rem;
$medium-font-weight: 400;
$p-font-size: 1.15rem;
$p-font-weight: 200;
$ul-font-size: 1rem;
$ul-font-weight: 200;

//header
$icon-size: 2.5rem;
$logo-size: 3.125rem;
$header-container-height: 6.25rem;
$header-container-padding: 1.25rem;

//about-us
$about-us-container-padding: 3.15rem 6.25rem;
$about-us-section-margin-bottom: 2.5rem;
$about-us-info-box-margin-top: 3.15rem;
$about-us-info-box-margin-bottom: 3.15rem;
$about-us-offerings-box-gap: 1.25rem;


//contact
$contact-container-top-padding: 2.25rem;
$contact-form-min-width: 9.35rem;
$contact-form-max-width: 31.25rem;
$contact-top-position: 9.35rem;

//faq
$faq-container-width: 50vw;

//faq-list
$faq-list-container-padding-top: 1.8rem;

//item-list
$items-list-container-padding: 2.5rem;
$items-list-container-height: 100vh;

//side-nav
$nav-li-a-padding: 1.25rem;
$nav-li-a-left-border: 5px solid;
$side-nav-container-width: 13.15rem;

//sale-page
$sale-page-container-height: 100vh;

//cart-counter
$cart-counter-input-width: 2rem;
$cart-counter-font-size: 1rem;
$cart-counter-price-font-size: 1.85rem;
$cart-counter-button-height: 1.85rem;
$cart-counter-button-width: 1.85rem;
$cart-counter-quantity-input-margin: 0.6rem;
$cart-counter-quantity-input-height: 1.85rem;
$cart-counter-quantity-input-border-radius: 6px;
$cart-counter-button-border-radius: 6px;

//item
$item-image-size: 6.25rem;
$item-margin-bottom: 1.25rem;
$item-price-font-size: 1.5rem;
$item-quantity-font-size: 0.85rem;
$item-action-box-gap: 1.25rem;
$item-action-box-button-width: 6.25rem;

//empty-cart
$empty-cart-container-padding-top: 6.25rem;
$empty-cart-img-size: 6.25rem;
$empty-cart-margin: 1.25rem;

//cart
$cart-container-padding-top: 3.125rem;
$cart-steps-circle-size: 2.5rem;
$light-grey-steps-label: 0.85rem;
$light-grey-steps-label-margin: 0.3rem;

//customer-data
$shipping-info-margin: 1.15rem 3.15rem;
$shipping-section-margin: 1.15rem 0 3.15rem 6.25rem;
$shipping-section-header: 1.65rem;
$shipping-section-header-margin: 1.85rem;
$shipping-section-radio-list-gap: 1.25rem;
$payment-method-section-gap: 1.25rem;
$payment-method-section-padding-bottom: 5.65rem;
$payment-method-section-header-font-size: 1.65rem;
$payment-method-section-header-margin-bottom: 1.65rem;
$payment-method-border: 1px solid $off-white;
$payment-method-padding: 0.6rem;
$payment-method-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$payment-method-box-shadow-selected: 0 5px 15px rgba(0, 0, 0, 0.5);
$payment-method-button-height: 3.15rem;
$payment-method-button-margin-right: 1.25rem;
$payment-method-radio-button-font-size: 1.35rem;
$shipping-section-info-font-size: 0.8rem;

//summary
$table-container-padding-bottom: 5rem;
$table-margin-top: 1.15rem;
$table-thead-th-padding: 0.6rem 0.9rem;
$table-thead-th-border: 1px solid $light-grey2-hover;
$table-tbody-tr-td-padding: 0.6rem 0.9rem;
$table-tbody-tr-td-border: 1px solid $light-grey2-hover;
$table-tbody-tr-td-max-width: 7.5rem;
$table-tbody-tr-td-max-height: 6.25rem;
$table-tbody-tr-td-first-child: 18.75rem;
$table-tbody-img-size: 3.15rem;
$table-tbody-img-margin-right: 0.6rem;
$table-product-name-font-size: 1.25rem;
$table-product-button-padding: 0.3rem 0.6rem;
$table-product-button-margin: 0 0.3rem;
$table-product-p-margin: 0.3rem 0;
$table-product-p-font-size: 0.9rem;
$table-product-price-font-size: 1.5rem;
$table-product-quantity-font-size: 1.5rem;
$summary-container-button-bottom: 0;
$summary-container-button-right: 4.35rem;
$payment-container-padding: 1.85rem;
$payment-table-container-padding-bottom: 1.25rem;
$cost-summary-font-size: 1rem;
$cost-summary-border-margin-bottom: 0.6rem;
$summary-container-button-right: 4.7rem;
$summary-container-button-bottom: 1.85rem;
$summary-container-button-height: 3.15rem;
$summary-container-button-margin-right: 1.25rem;

//confirm-page
$confirm-container-min-height: 12.5rem;
$confirm-container-header-font-size: 2.5rem;
$confirm-container-header-height: 3.15rem;
$confirm-container-order-number-font-size: 1.5rem;
$confirm-container-order-number-font-height: 2.5rem;
$confirm-container-order-description-font-size: 1rem;
$confirm-container-img-width: 15.6rem;
