//general
$h1-font-size: 2.5rem;
$medium-font-weight: 400;
$p-font-size: 1.15rem;
$p-font-weight: 200;
$ul-font-size: 1rem;
$ul-font-weight: 200;

//header
$icon-size: 2.5rem;
$logo-size: 3.125rem;
$header-container-height: 6.25rem;
$header-container-padding: 1.25rem;

//about-us
$about-us-container-padding: 3.15rem 18.75rem 3.15rem 4.35rem;
$about-us-section-margin-bottom: 2.5rem;


//contact
$contact-container-top-padding: 6.25rem;
$contact-form-min-width: 9.35rem;
$contact-form-max-width: 31.25rem;

//faq
$faq-container-width: 50vw;

//faq-list
$faq-list-container-padding-top: 1.8rem;

//item-list
$items-list-container-padding: 2.5rem;

//side-nav
$nav-li-a-padding: 1.25rem;
$nav-li-a-left-border: 5px solid;
$side-nav-container-width: 13.15rem;

//sale-page
$sale-page-container-height: 100vh;

//cart-counter
$cart-counter-input-width: 32px;
$cart-counter-font-size: 16px;
$cart-counter-price-font-size: 30px;
$cart-counter-button-height: 30px;
$cart-counter-button-width: 30px;

//item
$item-image-size: 100px;

//empty-cart
$empty-cart-container-padding-top: 100px;
$empty-cart-img-size: 100px;
$empty-cart-margin: 20px;
