.container {
  width: 15%;
  height: 100%;
  background: #ececec;
}

.nav-item {
  position: fixed;
  width: 15%;
}

.nav-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item li {
  float: none;
  width: 100%;
}

.nav-item li a {
  display: block;
  width: 100%;
  padding: 20px;
  border-left: 5px solid;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #444;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.nav-item li a:hover {
  border-bottom: 0;
  color: #fff;
}

.nav-item li:first-child a {
  border-left: 10px solid #FFB7C3;
}

.nav-item li:nth-child(2) a {
  border-left: 10px solid #51E5FF;
}

.nav-item li:nth-child(3) a {
  border-left: 10px solid #FFD447;
}

.nav-item li:nth-child(4) a {
  border-left: 10px solid #694F5D;
}

.nav-item li:nth-child(5) a {
  border-left: 10px solid #00A676;
}

.nav-item li:last-child a {
  border-left: 10px solid #FA9F42;
}

.nav-item li a:after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: -1;
}

.nav-item li a:hover:after {
  width: 100%;
}

.nav-item li:first-child a:after {
  background: #FFB7C3;
}

.nav-item li:nth-child(2) a:after {
  background: #51E5FF;
}

.nav-item li:nth-child(3) a:after {
  background: #FFD447;
}

.nav-item li:nth-child(4) a:after {
  background: #694F5D;
}

.nav-item li:nth-child(5) a:after {
  background: #00A676;
}

.nav-item li:last-child a:after {
  background: #FA9F42;
}
