@import "src/app/styles/fonts.scss";
@import "src/app/styles/colors.scss";

$cost-summary-border: 1px solid;

.payment-container {
  position: relative;
  padding: $payment-container-padding;

  .table-container {
    display: flex;
    justify-content: center;
    padding-bottom: $payment-table-container-padding-bottom;
    flex-direction: column;
    align-items: center;

    table {
      width: 90%;
      border-collapse: collapse;
      margin-top: $table-margin-top;

      thead {
        background-color: $light-grey2;

        th {
          padding: $table-thead-th-padding;
          border: $table-thead-th-border;
        }
      }

      tbody {
        tr {
          td {
            padding: $table-tbody-tr-td-padding;
            border: $table-tbody-tr-td-border;
            vertical-align: middle;
            text-align: center;
            max-width: $table-tbody-tr-td-max-width;
            max-height: $table-tbody-tr-td-max-height;

            &:first-child {
              max-width: $table-tbody-tr-td-first-child;
            }

            .item {
              display: flex;
              justify-content: space-around;

              img {
                width: $table-tbody-img-size;
                margin-right: $table-tbody-img-margin-right;
                vertical-align: middle;
              }

              .description {
                width: 80%;
                text-align: left;
                align-self: center;

                .product-name {
                  font-size: $table-product-name-font-size;
                }
              }
            }

            button {
              background-color: $light-grey2;
              border: none;
              padding: $table-product-button-padding;
              cursor: pointer;
              margin: $table-product-button-margin;

              &:hover {
                background-color: $light-grey2-hover;
              }
            }

            p {
              margin: $table-product-p-margin;
              font-size: $table-product-p-font-size;
              color: $grey2;
            }

            .price {
              font-size: $table-product-price-font-size;
            }

            .quantity {
              font-size: $table-product-quantity-font-size;
              display: flex;
              justify-content: space-evenly;
            }
          }
        }
      }
    }
  }

  .summary-container {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .customer-info {
      width: 82%;

      h2 {
        font-size: $h2-font-size;
      }

      p {
        font-size: $p-font-size;
      }
    }

    .cost-summary {
      width: 18%;
      font-size: $cost-summary-font-size;

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .border {
        border-bottom: $cost-summary-border;
        margin-bottom: $cost-summary-border-margin-bottom;
      }
    }

    button {
      position: absolute;
      right: $summary-container-button-right;
      bottom: $summary-container-button-bottom;
      height: $summary-container-button-height;
      margin-right: $summary-container-button-margin-right;
    }
  }
}
