@import 'src/app/styles/fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $empty-cart-container-padding-top;

  img {
    width: $empty-cart-img-size;
    height: $empty-cart-img-size;
    margin-bottom: $empty-cart-margin;
  }

  button {
    margin-top: $empty-cart-margin;
  }
}
