.container {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 18px;
  }

  .form-box {
    width: 100%;
    display: flex;
    justify-content: center;

    .form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
  }
}
