@import 'src/app/styles/fonts.scss';

.card {
  margin-bottom: $item-margin-bottom;
  background: $very-light-grey;

  .content {
    display: flex;

    .img-container {
      width: 15%;
      align-self: center;
      text-align: center;

      img {
        width: $item-image-size;
        height: $item-image-size;
      }
    }

    .description-container {
      width: 85%;
      display: flex;

      .description {
        width: 60%;
        display: flex;
        flex-direction: column;

        .info {
          width: 70%;
        }
      }

      .values {
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .price {
          font-size: $item-price-font-size;
          align-self: center;
        }

        .quantity {
          display: flex;
          font-size: $item-quantity-font-size;
          justify-content: center;

          h3 {
            margin: 0;
            font-size: $h3-font-size;
          }
        }
      }

      .action-box {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: $item-action-box-gap;
        justify-content: center;

        button {
          width: $item-action-box-button-width;
          align-self: center;
        }
      }
    }
  }
}

