<mat-card *ngFor="let product of products" class="card">
  <mat-card-content>
    <div class="content">
      <div class="img-container">
        <img alt="meat" src="assets/meat.svg">
      </div>
      <div class="description-container">
        <h1>{{product.name}}</h1>
        <div class="description">
          <div class="info">
            {{product.description}}
          </div>
          <div class="action-box">
            <app-cart-counter (amount)="handleQuantityChange($event)"></app-cart-counter>
            <button mat-raised-button>Add</button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

