.card {
  .content {
    display: flex;

    .img-container {
      width: 15%;
      align-self: center;
      text-align: center;


      img {
        width: 100px;
        height: 100px;
      }

    }

    .description-container {
      width: 85%;

      .description {
        display: flex;

        .info {
          width: 70%;

        }

        .action-box {
          width: 30%;
          align-self: center;
          text-align: center;
        }

      }

    }

  }

}

