<div class="container">
  <h1>About Us</h1>
  <p>Welcome to Pet Store!</p>
  <div class="info-box">
    <mat-card class="passion">
      <mat-card-content><h2>Our Passion</h2>
        <p>We are a team of animal enthusiasts who have cherished and nurtured the diverse fauna of our natural world
          for
          years. Our love for animals and commitment to ensuring their health and happiness form the foundation of our
          zoological store.</p></mat-card-content>
    </mat-card>
    <mat-card class="mission">
      <mat-card-content><h2>Mission</h2>
        <p>Our mission is to provide pet owners and animal lovers with top-quality products and services. We aim to help
          you
          create a healthy and joyful environment for your furry, feathery, or scaly companions.</p></mat-card-content>
    </mat-card>
  </div>
  <div class="offerings">
    <mat-card>
      <mat-card-content><h2>Our Offerings</h2>
        <p>At our store, you will find an extensive range of zoological products, from the tastiest pet food to the
          latest
          grooming accessories. Our offerings include:</p>
        <div class="offerings-box">
          <mat-card>
            <mat-card-content>
              <h5>Pet Food and Treats:</h5> In our store, you'll discover various types of food, snacks, and
              treats
              to satisfy even the most discerning palates.
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content>
              <h5>Accessories:</h5> We offer a wide selection of accessories, including cages, aquariums,
              toys,
              leashes, and other essentials for your pet.
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content>
              <h5>Supplements and Medicines:</h5> We provide dietary supplements and medicines to ensure the
              well-being of your beloved animals.
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content>
              <h5>Advice and Support:</h5> Our team is ready to assist you with information on pet care and
              selecting the right products. We are here to help.
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>


  </div>
</div>
